{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}SUPERQUEST - Login{% endblock %}

{% block page_content %}
  <div class = "container">
    <div class = "row">

      <div class = "col-md-6">
        <div class="page-header">
          <h1>Login</h1>
        </div>

        <div>
          {{ wtf.quick_form(form) }}
          <br>
          <p>Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
          <p>New user? <a href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
        </div>
      </div>

      <div class = "col-md-6">
        <div class="page-header">
            <h1>Register</h1>
        </div>

        <div>
            <h4>There are 3 types of user on SuperQuest. Choose the one which best describes you.</h4>
        </div>
        <br>
        <div>         
          <a class = "btn btn-default" href="{{ url_for('auth.register_student') }}">I'm a Student</a>
          <br><br>          
          <a class = "btn btn-default" href="{{ url_for('auth.register_mentor') }}">I Want to Advise Students</a>
          <br><br>
          <a class = "btn btn-default" href="{{ url_for('auth.register_teacher') }}">I'm a Teacher</a>
          <br><br>
        </div>
      </div>

    </div>
  </div>


{% endblock %}