<ul class="posts">
    {% for person in people %}
    <li class="post">
        <div class="post-content">
            <div class="post-body">
                <ul>
                    <li>Username: {{ person.username }}</li>
                    <li>Role: {{ person.new_role.capitalize() }}</li>
                    <li>About me: {{ person.about_me }}</li>
                    <li>Number of projects: {{ person.student_projects.count() }}</li>
                    <li>More later</li>
                </ul>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
