<ul class="posts">
    {% for project in projects %}
        <li class="post">
            <div class="post-thumbnail">
                <a href="{{ url_for('.user', username=project.students[0].username) }}">
                    <img class="img-rounded profile-thumbnail" src="{{ project.students[0].gravatar(size=40) }}">
                </a>
            </div>
            <div class="post-content">
                <div class="post-date">{{ moment(project.timestamp).fromNow() }}</div>
                <div class="post-author" style="font-size: 25px">
                    <a href="{{ url_for('.user', username=project.students[0].username) }}">{{ project.students[0].username }}</a> <span class="glyphicon glyphicon-circle-arrow-right"></span> <a href="{{ url_for('main.view_project', id=project.id) }}">{{project.name}}</a></div>
                <div class="post-body">
                    <p>Subject: {{ project.subject}}</p>
                    <p>Description: {{ project.description}}</p>
                    <p>Help Wanted: {{ project.help_wanted }}</p>
                </div>
                <div class="post-footer">
                    {% if current_user.new_role == 'student' %}
                    <a href="#"><span class="label label-danger">Collaborate</span></a>
                    {% else %}
                    <a href="#"><span class="label label-success">Volunteer</span></a>
                    <a href="#"><span class="label label-danger">Email to a Friend</span></a>
                    {% endif %}
                    {% if current_user in project.students %}
                    <a href="{{ url_for('.edit_project', id=project.id) }}">
                        <span class="label label-primary">Edit</span>
                    </a>
                    {% elif current_user.is_administrator() %}
                    <a href="{{ url_for('.edit_project', id=project.id) }}">
                        <span class="label label-danger">Edit [Admin]</span>
                    </a>
                    {% endif %}
                    <a href="{{ url_for('.view_project', id=project.id) }}#comments">
                        <span class="label label-primary">{{ project.comments.count() }} Comments</span>
                    </a>
                </div>
            </div>
        </li>
    {% endfor %}
</ul>