{% extends "base.html" %}

{% block title %}SUPERQUEST{% endblock %}

{% block page_content %}
<!-- advertisement -->
<div class = "container">
  <div class = "jumbotron text-center">
    <h1>SUPERQUEST</h1>
    <p>Connecting students and professionals through projects</p>
    <a class = "btn btn-info" href="https://twitter.com/thesuperquest" target="_blank">Tweet It</a>
    <a class = "btn btn-primary" href="https://www.facebook.com/thesuperquest" target="_blank">Like It</a>
  </div>
</div>

<!-- grid -->
<div class = "container" style="margin-bottom: 70px" id="bottomproblem">
    <!-- when you go lower than medium, go vertical. could be lg, sm -->
  
  {% for bunch in bunches %}
    <div class = "row">
    {% for berry in bunch %}
      <div class = "col-md-3">
        <h3><a href="{{ url_for('main.view_project', id=berry.id) }}">{{ berry.name }}</a></h3>
        <p>{{berry.description}}</p>
        {% if current_user.is_authenticated() %}
          {% if current_user.new_role == 'student' %}
            <a class = "btn btn-success" href="{{ url_for('main.collaborate', id=berry.id) }}">Collaborate</a>
          {% else %}
            <a class = "btn btn-success" href="{{ url_for('main.volunteer', id=berry.id) }}">Volunteer</a>
          {% endif %}
        {% else %}
          <a class = "btn btn-success" href="{{ url_for('main.volunteer', id=berry.id) }}">Volunteer</a>
        {% endif %}
      </div>
    {% endfor %}
    </div>
  {% endfor %}

    <div class="row">
      <div class="col-md-12">
        <br>
        <a class = "btn btn-danger btn-lg btn-block" href="{{ url_for('main.search_projects')}}">See More Projects</a>
      </div>
    </div>
</div>

<!-- bottom booter -->
<div class = "navbar navbar-default navbar-fixed-bottom">
  <div class="container">
    <p class="navbar-text pull-left">Site Built By Justin Moen</p>
   <a href="https://twitter.com/JustinMoen" class="navbar-btn btn-info btn pull-right" >Follow @JustinMoen</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
</div>

<!-- contact customer support: at bottom because fine if loads last -->


<!-- can omit the http or httmps in src -->
<script src = "http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src = "js/bootstrap.js"></script>

{% endblock %}